<div class="section" id="facet_chapter">
    <div class="title">
        <h3>Legislation by Category</h3>
    </div>
    {% if data['query']['chapter'] is none %}
    <div id="openingfacet_type" class="content">
        <ul class="page type" style="display: block;">
            {% for count in data['counts']['byChapter'] %}
            {% include 'defra/facets/labeled_count.html' %}
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div id="openingfacet_type" class="content">
        <ul>
            <li class="returnLink">
                <a href="{{ data['cancel_links']['chapter'] }}">
                    <span class="accessibleText">Browse by </span>
                    <span>Any category</span>
                </a>
            </li>
            <li>
                <span class="userFunctionalElement disabled">
                    <div class="label">{{ data['counts']['byChapter'][0]['label'] }}</div>
                </span>
            </li>
        </ul>
    </div>
    {% endif %}
</div>