<div class="section" id="facet_review">
    <div class="title">
        <h3>Legislation by Review Date</h3>
    </div>
        {% if data['query']['review'] is none %}
        <div id="openingfacet_review" class="content pagination">
            {% for group in data['grouped']['byReviewDate'] %}
            <ul class="page review" style="display: block;">
                {% for count in group %}
                <li>
                    <div class="label">
                        <a href="{{ count['link'] }}">{{ count['year'] }}</a>
                        <span>({{ count['count'] }})</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% else %}
        <div id="openingfacet_review" class="content">
            <ul>
                <li class="returnLink">
                    <a href="{{ data['cancel_links']['review'] }}">
                        <span class="accessibleText">Browse by </span>
                        <span>Any review date</span>
                    </a>
                </li>
                <li>
                    <span class="userFunctionalElement disabled">
                        <div class="label">{{ data['counts']['byReviewDate'][0]['year'] }}</div>
                    </span>
                </li>
            </ul>
        </div>
        {% endif %}
</div>