<div class="section" id="facet_status">
    <div class="title">
        <h3>Legislation by Status</h3>
    </div>
        {% if data['query']['status'] is none %}
        <div id="openingfacet_status" class="content">
            <ul class="page status" style="display: block;">
                {% for count in data['counts']['byStatus'] %}
                <li>
                    <div class="label">
                        <a href="{{ count['link'] }}">{{ count['label'] }}</a>
                        <span>({{ count['count'] }})</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div id="openingfacet_status" class="content">
            <ul>
                <li class="returnLink">
                    <a href="{{ data['cancel_links']['status'] }}">
                        <span class="accessibleText">Browse by </span>
                        <span>Any status<span>
                    </a>
                </li>
                <li>
                    <span class="userFunctionalElement disabled">
                        <div class="label">{{ data['counts']['byStatus'][0]['label'] }}</div>
                    </span>
                </li>
            </ul>
        </div>
        {% endif %}
</div>