<div class="section" id="facet_status">
    <div class="title">
        <h3>Legislation by Status</h3>
    </div>
        {% if data['query']['inForce'] is none %}
        <div id="openingfacet_status" class="content">
            <ul class="page status" style="display: block;">
                {% for count in data['counts']['byInForce'] %}
                <li>
                    <div class="label">
                        <a href="{{ count['link'] }}">{{ count['label'] }}</a>
                        <span>({{ count['count'] }})</span>
                    </div>
                </li>
                {% if count['value'] %}
                <li class="sub-item">
                    <div class="label">
                        <a href="{{ data['exclude_comm_orders_link'] }}">Exclude Commencement Orders</a>
                    </div>
                </li>
                <li class="sub-item">
                    <div class="label">
                        <a href="{{ data['exclude_rev_orders_link'] }}">Exclude Revocation Orders</a>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div id="openingfacet_status" class="content">
            <ul>
                <li class="returnLink">
                    <a href="{{ data['cancel_links']['inForce'] }}">
                        <span class="accessibleText">Browse by </span>
                        <span>Any status<span>
                    </a>
                </li>
                <li>
                    <span class="userFunctionalElement disabled">
                        <div class="label">{{ data['counts']['byInForce'][0]['label'] }}</div>
                    </span>
                </li>
                {% if data['counts']['byInForce'][0]['value'] %}
                {% if data['query']['isCommencementOrder'] is not none %}
                <li class="returnLink">
                    <a href="{{ data['cancel_links']['isCommencementOrder'] }}">
                        <span class="accessibleText">Browse by </span>
                        <span>Any status<span>
                    </a>
                </li>
                <li>
                    <span class="userFunctionalElement disabled">
                        <div class="label">Exclude Commencement Orders</div>
                    </span>
                </li>
                {% endif %}
                {% if data['query']['isRevocationOrder'] is not none %}
                <li class="returnLink">
                    <a href="{{ data['cancel_links']['isRevocationOrder'] }}">
                        <span class="accessibleText">Browse by </span>
                        <span>Any status<span>
                    </a>
                </li>
                <li>
                    <span class="userFunctionalElement disabled">
                        <div class="label">Exclude Revocation Orders</div>
                    </span>
                </li>
                {% endif %}
                {% if data['query']['isCommencementOrder'] is none %}
                <li style="margin-left: 15px">
                    <div class="label">
                        <a href="{{ data['exclude_comm_orders_link'] }}">Exclude Commencement Orders</a>
                    </div>
                </li>
                {% endif %}
                {% if data['query']['isRevocationOrder'] is none %}
                <li style="margin-left: 15px">
                    <div class="label">
                        <a href="{{ data['exclude_rev_orders_link'] }}">Exclude Revocation Orders</a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
        {% endif %}
</div>