<div class="section" id="facet_year">
    <div class="title">
        <h3>Legislation by Year</h3>
    </div>
        {% if data['query']['year'] is none %}
        <div id="openingfacet_year" class="content pagination">
            {% for group in data['grouped']['byYear'] %}
            <ul class="page year" style="display: block;">
                {% for count in group %}
                <li>
                    <div class="label">
                        <a href="{{ count['link'] }}">{{ count['year'] }}</a>
                        <span>({{ count['count'] }})</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% else %}
        <div id="openingfacet_year" class="content">
            <ul>
                <li class="returnLink">
                    <a href="{{ data['cancel_links']['year'] }}">
                        <span class="accessibleText">Browse by </span>
                        <span>Any year</span>
                    </a>
                </li>
                <li>
                    <span class="userFunctionalElement disabled">
                        <div class="label">
                            <span>{{ data['counts']['byYear'][0]['year'] }}</span>
                            <span>({{ data['counts']['byYear'][0]['count'] }})</span>
                    </span>
                </li>
            </ul>
        </div>
        {% endif %}
</div>
