{% extends 'frame.html' %}
{% block content %}
{{ super() }}
<div>
    <table>
        <tbody>
            <tr>
                <th class="label">URI</th>
                <td class="value">{{ interp.uri }}</td>
            </tr>
            <tr>
                <th class="label">Short Title</th>
                <td class="value">{{ interp.shortTitle }}</td>
            </tr>
            <tr>
                <th class="label">Long Title</th>
                <td class="value">{{ interp.longTitle }}</td>
            </tr>
            <tr>
                <th class="label">Language</th>
                <td class="value">{{ interp.language }}</td>
            </tr>
            {% if interp.original %}
            <tr>
                <th class="label">Original</th>
                <td class="value">{{ interp.original }}</td>
            </tr>
            {% endif %}
            {% if interp.current %}
            <tr>
                <th class="label">Current</th>
                <td class="value">{{ interp.current }}</td>
            </tr>
            {% endif %}
            <tr>
                <th class="label">Item</th>
                <td class="value">
                    <table>
                        {% set item = interp.item %}
                        {% include 'components/item.html' %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <nav>
        {% include 'components/formats.html' %}
    </nav>    
</div>
{% endblock %}
