{% extends 'pages/core.html' %}
{% block content %}
<h2>{{ title }}</h2>
<div>
    <table>
        <tbody class="interpretation">
            <tr>
                <th>URI</th>
                <td>{{ interp.uri }}</td>
            </tr>
            {% if interp.shortTitle %}
            <tr>
                <th>{{ _('Title') }}</th>
                <td>{{ interp.shortTitle }}</td>
            </tr>
            {% endif %}
            {% if interp.longTitle %}
            <tr>
                <th>{{ _('Long Title') }}</th>
                <td>{{ interp.longTitle }}</td>
            </tr>
            {% endif %}
            {% if interp.orderTitle %}
            <tr>
                <th>{{ _('Order Title') }}</th>
                <td>{{ interp.orderTitle }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ _('Language') }}</th>
                <td>{{ interp.language }}</td>
            </tr>
            {% if interp.original %}
            <tr>
                <th>{{ _('Original') }}</th>
                <td>{{ interp.original }}</td>
            </tr>
            {% endif %}
            {% if interp.current %}
            <tr>
                <th>{{ _('Current') }}</th>
                <td>{{ interp.current }}</td>
            </tr>
            {% endif %}
            {% if interp.parent %}
            <tr>
                <th>{{ _('Parent') }}</th>
                <td>
                    <a href="{{ interp.parent }}">{{ interp.parent }}</a>
                </td>
            </tr>
            {% endif %}
            {% if interp.children %}
            <tr>
                <th>{{ _('Children') }}</th>
                <td>
                    <ul>
                        {% for child in interp.children %}
                        <li>
                            <a href="{{ child }}">{{ child }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ _('Item') }}</th>
                <td>
                    <table>
                        {% set item = interp.item %}
                        {% include 'components/item.html' %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <nav>
        {% include 'components/formats.html' %}
    </nav>    
</div>
{% endblock %}
