{% extends 'pages/core.html' %}
{% block content %}
<h2>{{ title }}</h2>
<div>
    <table>
        <tbody class="interpretation">
            <tr>
                <th class="label">URI</th>
                <td class="value">{{ interp.uri }}</td>
            </tr>
            {% if interp.shortTitle %}
            <tr>
                <th class="label">{{ _('Short Title') }}</th>
                <td class="value">{{ interp.shortTitle }}</td>
            </tr>
            {% endif %}
            {% if interp.longTitle %}
            <tr>
                <th class="label">{{ _('Long Title') }}</th>
                <td class="value">{{ interp.longTitle }}</td>
            </tr>
            {% endif %}
            {% if interp.orderTitle %}
            <tr>
                <th class="label">{{ _('Order Title') }}</th>
                <td class="value">{{ interp.orderTitle }}</td>
            </tr>
            {% endif %}
            <tr>
                <th class="label">{{ _('Language') }}</th>
                <td class="value">{{ interp.language }}</td>
            </tr>
            {% if interp.original %}
            <tr>
                <th class="label">{{ _('Original') }}</th>
                <td class="value">{{ interp.original }}</td>
            </tr>
            {% endif %}
            {% if interp.current %}
            <tr>
                <th class="label">{{ _('Current') }}</th>
                <td class="value">{{ interp.current }}</td>
            </tr>
            {% endif %}
            <tr>
                <th class="label">{{ _('Item') }}</th>
                <td class="value">
                    <table>
                        {% set item = interp.item %}
                        {% include 'components/item.html' %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <nav>
        {% include 'components/formats.html' %}
    </nav>    
</div>
{% endblock %}
