{% extends 'pages/core.html' %}
{% block content %}
<h2>{{ title }}</h2>
<div>
    <table>
        {% for item in page['items'] %}
            {% include 'components/item.html' %}
            <tbody><tr><td></td></tr></tbody>
        {% endfor %}
    </table>
    <nav>
        {% include 'components/formats.html' %}
        <p></p>
        <div>
            {% if page.meta.page > 1 %}
            <span>
                <a href="{{ request.host_url.rstrip('/') + request.path }}?page={{ page.meta.page - 1 }}">&lsaquo; prev</a>
            </span>
            {% endif %}
            {% if page.meta.page > 1 and page['items']|length == page.meta.pageSize %}
            <span> | </span>
            {% endif %}
            {% if page['items']|length == page.meta.pageSize %}
            <span>
                <a href="{{ request.host_url.rstrip('/') + request.path }}?page={{ page.meta.page + 1 }}">next &rsaquo;</a>
            </span>
            {% endif %}
        </div>
    </nav>
</div>
{% endblock %}
