<div id="footerNav">
    <ul>
        <li><a href="/cy/new-design">Dylunio safle newydd</a></li>
        <li><a href="/cy/help">Cymorth</a></li>
        <li><a href="/cy/about-us">Amdanom ni</a></li>
        <li><a href="/cy/sitemap">Map o’r safle</a></li>
        <li><a href="/cy/accessibility">Hygyrchedd</a></li>
        <li><a href="/cy/contact-us">Cysylltu â Ni</a></li>
        <li><a href="/cy/privacynotice">Rhybudd preifatrwydd</a></li>
        <li><a href="/cy/cookiepolicy" id="cookies-content-link">Cwcis</a></li>
    </ul>
</div>
<div id="footer">
    <div>
        <p class="copyrightstatement"><img src="/images/chrome/ogl-symbol.gif" alt="OGL logo" /><span xml:lang="cy"
                id="Copyright_Statement">Mae’r holl gynnwys ar gael dan <a
                    href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" target="_blank"
                    rel="license">Drwydded Llywodraeth Agored v3.0</a> ac eithrio ble nodir yn
                wahanol. Yn ychwanegol mae’r safle hwn â chynnwys sy’n deillio o EUR-Lex, a ailddefnyddiwyd dan
                delerau <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32011D0833"
                    target="_blank">Penderfyniad y Comisiwn 2011/833/EU</a> ar ailddefnyddio dogfennau o
                sefydliadau’r UE. Am ragor o wybodaeth gweler ddatganiad cyhoeddus <a
                    href="https://eur-lex.europa.eu/content/legal-notice/legal-notice.html" target="_blank">Swyddfa
                    Gyhoeddiadau’r UE ar ailddefnyddio</a>.</span></p><span class="copyright">© <span rel="dct:rights"
                resource="http://reference.data.gov.uk/def/copyright/crown-copyright">Hawl y goron a chronfa
                ddata</span></span>
    </div>
</div>