<div id="footerNav">
    <ul>
        <li><a href="/new-design">New site design</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/sitemap">Site map</a></li>
        <li><a href="/accessibility">Accessibility</a></li>
        <li><a href="/contact-us">Contact us</a></li>
        <li><a href="/privacynotice">Privacy notice</a></li>
        <li><a href="/cookiepolicy" id="cookies-content-link">Cookies</a></li>
    </ul>
</div>
<div id="footer">
    <div>
        <p class="copyrightstatement"><img src="/images/chrome/ogl-symbol.gif" alt="OGL logo" /><span
                xml:lang="" id="Copyright_Statement">All content is available under the <a
                    href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"
                    target="_blank" rel="license">Open Government Licence v3.0</a> except where <a
                    href="/contributors">otherwise stated</a>. This site additionally contains content derived
                from EUR-Lex, reused under the terms of the <a
                    href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32011D0833"
                    target="_blank">Commission Decision 2011/833/EU</a> on the reuse of documents from the EU
                institutions. For more information see the <a
                    href="https://eur-lex.europa.eu/content/legal-notice/legal-notice.html"
                    target="_blank">EUR-Lex public statement on re-use</a>.</span></p><span class="copyright">©
            <span rel="dct:rights" resource="http://reference.data.gov.uk/def/copyright/crown-copyright">Crown
                and database right</span></span>
    </div>
</div>
