{% extends 'defra/frame.html' %}
{% block main %}
			<div id="main-wrapper">
					<div id="main"
						class="clearfix with-navigation">
						
                        <div id="titleBar">
                        	<div id="defraBannerLogo">
                        		<img src="/sites/all/themes/vsrs/images/defra.png"/>
                        	</div>
                        	<div id="defraBannerText">
								<p>Welcome to DefraLex, the online portal to Defra legislation.</p>
								<p>Here you can view the in-force legislation that is managed by Defra, and organise it by a number of criteria, including jurisdiction, date, or subject, helping you find the document you need quickly.</p>
								<p>Use the search facets down the left-hand side to refine your results and for selected legislation use the "more resources" tab to find associated documents, such as impacts assessments and consultation summaries.</p>
                        	</div>
                        </div>
                        <!--
						<div id="titleBar">
						                                                                                                            <h1 class="pageTitle" id="heading">
                                                            DefraLex                                                        </h1>

                                                    
							<div id="userDetails">
							</div>
						</div>
						-->
                        <div id="breadcrumb">     </div>
																																				<div id="content" class="column">
							<div class="section">
							  <div class="region region-content">
    <div id="block-system-main" class="block block-system first last odd">

      
  <div class="content">
    
<div class="defra-list contentSurround">
  <!--
	<div class="contentTitle">

         
		<div class="aside">

			 Your search for Department for Environment, Food &amp; Rural Affairs legislation has returned the following results.		</div>
	</div>
  -->
	<div class="defra-contents contentInner">
    <span class="icon"></span>
		<div id="tools">
			<h2 class="accessibleText">Narrow results by:</h2>


              {% include 'defra/facets/status.html' %}

              {% include 'defra/facets/year.html' %}

              {% include 'defra/facets/type.html' %}

						<div class="section" id="facet_chapter">
				<div class="title">
					<h3>Legislation by Category</h3>
					<!--<a title="Help" class="helpItemToMidRight help-icon" href="#browseHelpchapter"><img src="/sites/all/themes/vsrs/images/chrome/helpIcon.gif" alt=" Help about what version" /></a>
					<div id="browseHelpchapter" class="help">
						<span class="icon"></span>
						<div class="content">
							<a href="#" class="close"><img alt="Close" src="/sites/all/themes/vsrs/images/chrome/closeIcon.gif" /></a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</div>
					</div>-->
				</div>
										<div id="openingfacet_chapter" class="content pagination">
                            <ul class="page chapter" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Fagriculture-and-rural-development">Agriculture and Rural Development</a> (492)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Fanimal-health-and-welfare">Animal Health and Welfare</a> (349)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Fenvironment">Environment</a> (850)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Ffood-labelling-and-composition">Food Labelling and Composition</a> (67)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Fmarine-and-fisheries">Marine and Fisheries</a> (238)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Fplant-health-and-quality">Plant Health and Quality</a> (145)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&chapter=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fchapter%2Fother-issues">Other Issues</a> (28)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                        </div>
								</div>
						<div class="section" id="facet_extent">
				<div class="title">
					<h3>Contains Law For</h3>
					<!--<a title="Help" class="helpItemToMidRight help-icon" href="#browseHelpextent"><img src="/sites/all/themes/vsrs/images/chrome/helpIcon.gif" alt=" Help about what version" /></a>
					<div id="browseHelpextent" class="help">
						<span class="icon"></span>
						<div class="content">
							<a href="#" class="close"><img alt="Close" src="/sites/all/themes/vsrs/images/chrome/closeIcon.gif" /></a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</div>
					</div>-->
				</div>
										<div id="openingfacet_extent" class="content pagination">
                            <ul class="page extent" style="display: block;">
                                    
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fuk">E+S+W+NI</a></div><span class="bbl"></span><span class="bbr"></span></span> (669)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fengland-scotland-and-wales">E+S+W</a></div><span class="bbl"></span><span class="bbr"></span></span> (375)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fengland-and-northern-ireland">E+NI</a></div><span class="bbl"></span><span class="bbr"></span></span> (4)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fengland-and-scotland">E+S</a></div><span class="bbl"></span><span class="bbr"></span></span> (6)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fengland-and-wales">E+W</a></div><span class="bbl"></span><span class="bbr"></span></span> (493)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fengland-wales-and-northern-ireland">E+W+NI</a></div><span class="bbl"></span><span class="bbr"></span></span> (6)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fengland-only">E</a></div><span class="bbl"></span><span class="bbr"></span></span> (578)</div> </li>


                    
                                      
                      <li><div class="label"><span class="LegExtentRestriction"><span class="btr"></span><div class="link"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&extent=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fextent%2Fnorthern-ireland-only">NI</a></div><span class="bbl"></span><span class="bbr"></span></span> (3)</div> </li>


                    
                                  </ul>         
                        </div>
								</div>
						<div class="section" id="facet_source">
				<div class="title">
					<h3>Legislation by Source</h3>
					<!--<a title="Help" class="helpItemToMidRight help-icon" href="#browseHelpsource"><img src="/sites/all/themes/vsrs/images/chrome/helpIcon.gif" alt=" Help about what version" /></a>
					<div id="browseHelpsource" class="help">
						<span class="icon"></span>
						<div class="content">
							<a href="#" class="close"><img alt="Close" src="/sites/all/themes/vsrs/images/chrome/closeIcon.gif" /></a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</div>
					</div>-->
				</div>
										<div id="openingfacet_source" class="content pagination">
                            <ul class="page source" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&source=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Forigin%2Fdomestic">Domestic</a> (1384)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&source=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Forigin%2Feu">EU</a> (557)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&source=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Forigin%2Finternational">International</a> (20)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&source=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Forigin%2Fhybrid">Hybrid</a> (181)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                        </div>
								</div>
						<div class="section" id="facet_regulator">
				<div class="title">
					<h3>Legislation by Defra Regulator</h3>
					<!--<a title="Help" class="helpItemToMidRight help-icon" href="#browseHelpregulator"><img src="/sites/all/themes/vsrs/images/chrome/helpIcon.gif" alt=" Help about what version" /></a>
					<div id="browseHelpregulator" class="help">
						<span class="icon"></span>
						<div class="content">
							<a href="#" class="close"><img alt="Close" src="/sites/all/themes/vsrs/images/chrome/closeIcon.gif" /></a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</div>
					</div>-->
				</div>
										<div id="openingfacet_regulator" class="content pagination">
                            <ul class="page regulator" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fhpha">Animal and Plant Health Agency</a> (102)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fcefas">Centre for Environment, Fisheries and Aquaculture Science</a> (21)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fdwi">Drinking Water Inspectorate</a> (4)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fea">Environment Agency</a> (160)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Ffsa">Food Standards Agency</a> (37)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Ffc">Forestry Commission</a> (35)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fhse">Health and Safety Executive</a> (20)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fla">Local Authorities</a> (256)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fmmo">Marine Management Organisation</a> (69)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fne">Natural England</a> (50)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fofwat">Ofwat (Water Services Regulation Authority)</a> (19)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Frpa">Rural Payments Agency</a> (86)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                            <ul class="page regulator" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fsecretary-of-state-defra">Secretary of State (Defra)</a> (217)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&regulator=http%3A%2F%2Fwww.legislation.gov.uk%2Fid%2Fpublicbody%2Fvmd">Veterinary Medicines Directorate</a> (8)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                        </div>
								</div>
						<div class="section" id="facet_content">
				<div class="title">
					<h3>Legislation by Subject</h3>
					<!--<a title="Help" class="helpItemToMidRight help-icon" href="#browseHelpcontent"><img src="/sites/all/themes/vsrs/images/chrome/helpIcon.gif" alt=" Help about what version" /></a>
					<div id="browseHelpcontent" class="help">
						<span class="icon"></span>
						<div class="content">
							<a href="#" class="close"><img alt="Close" src="/sites/all/themes/vsrs/images/chrome/closeIcon.gif" /></a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</div>
					</div>-->
				</div>
										<div id="openingfacet_content" class="content pagination">
                            <ul class="page content" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fappeals">Appeals</a> (194)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fconsents-and-permits">Consents and Permits</a> (209)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fcriminal-offences">Criminal Offences</a> (452)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fgrant-subsidy-payment">Grant / Subsidy / Payment</a> (279)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fincoming-fees-and-payments">Incoming Fees and Payments</a> (237)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Flicences">Licences</a> (204)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fnon-criminal-penalties-including-administrative-penalties-and-civil-sanctions-">Non-Criminal Penalties (Including Administrative Penalties and Civil Sanctions)</a> (150)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fnotice-order-direction-declaration">Notice / Order / Direction / Declaration</a> (310)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fplans-guidance-assessments-information-schemes">Plans / Guidance / Assessments / Information / Schemes</a> (113)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fpowers-of-entry">Powers of Entry</a> (255)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fregisters">Registers</a> (120)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&content=http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Factivity%2Fnone">None</a> (91)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                        </div>
								</div>
						<div class="section" id="facet_review">
				<div class="title">
					<h3>Legislation by Review Date</h3>
					<!--<a title="Help" class="helpItemToMidRight help-icon" href="#browseHelpreview"><img src="/sites/all/themes/vsrs/images/chrome/helpIcon.gif" alt=" Help about what version" /></a>
					<div id="browseHelpreview" class="help">
						<span class="icon"></span>
						<div class="content">
							<a href="#" class="close"><img alt="Close" src="/sites/all/themes/vsrs/images/chrome/closeIcon.gif" /></a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</div>
					</div>-->
				</div>
										<div id="openingfacet_review" class="content pagination">
                            <ul class="page review" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2032">2032</a> (1)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2028">2028</a> (2)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2027">2027</a> (1)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2024">2024</a> (6)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2023">2023</a> (5)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2022">2022</a> (13)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2021">2021</a> (13)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2020">2020</a> (28)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2019">2019</a> (13)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2018">2018</a> (16)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2017">2017</a> (14)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                                            

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2016">2016</a> (9)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                            <ul class="page review" style="display: block;">
                                                          

                      <li><div class="label"><a href="/defralex/lists?inforce=true&mechanicallaw=%21http%3A%2F%2Fdefra-lex.legislation.gov.uk%2Fid%2Fmechanicallaw%2FrevocationOrder&review=2014">2014</a> (1)</div> </li>
                    
                      <!--  add sub item for Implicitily Repealed -->
                      
                      <!-- add sub item for mech law -->

                      


                    
                                  </ul>         
                        </div>
								</div>
					</div>

        {% include 'defra/results.html' %}

        {% include 'defra/pagination.html' %}

	</div>

</div>
  </div>

</div>
  </div>
														</div>
						</div>
																	</div>
				</div>
{% endblock %}
