{% extends 'frame.html' %}
{% block content %}
<style>
    h1 { padding-top: 1em }
    table { width: unset }
    th { text-wrap-mode: nowrap }
    th, td { vertical-align: top }
    .nested > table { border: thin dotted grey }
    ul { list-style: none; padding-left: 0 }
    li { text-wrap-mode: nowrap }
</style>
<h1>The Legislation Core Reference</h1>
<div style="display: flex; justify-content: space-between">
    <table style="margin-right: 1in; border-collapse: collapse">
        <caption>{{ title }}</caption>
        {% for item in page['items'] %}
        <tbody style="border: thin dotted grey">
            <tr>
                <th class="label">URI</th>
                <td class="value">{{ item.uri }}</td>
            </tr>
            <tr>
                <th class="label">Type</th>
                <td class="value">{{ item.type }}</td>
            </tr>
            <tr>
                <th class="label">Year</th>
                <td class="value">{{ item.year }}</td>
            </tr>
            <tr>
                <th class="label">Number</th>
                <td class="value">{{ item.number }}</td>
            </tr>
            <tr>
                <th class="label">Title</th>
                <td class="value">{{ item.title }}</td>
            </tr>
            <tr>
                <th class="label">Original Languages</th>
                <td class="value">{{ ', '.join(item.originalLanguages) }}</td>
            </tr>
            <tr>
                <th class="label">Citation</th>
                <td class="value">{{ item.citation }}</td>
            </tr>
            <tr>
                <th class="label">Full Citation</th>
                <td class="value">{{ item.fullCitation }}</td>
            </tr>
            {% if item.commentaryCitation != item.fullCitation %}
            <tr>
                <th class="label">Commentary Citation</th>
                <td class="value">{{ item.commentaryCitation }}</td>
            </tr>
            {% endif %}
        </tbody>
        <tbody><tr><td></td></tr></tbody>
        {% endfor %}
    </table>
    <nav>
        <h3>Data Formats</h3>
        <ul>
            <li>
                <a href="{{ request.host_url.rstrip('/') + request.path }}/data.rdf" type="application/rdf+xml">RDF/XML</a>
            </li>
            <li>
                <a href="./data.rdfjson" type="application/json">RDF/JSON</a>
            </li>
            <li>
                <a href="{{ request.host_url.rstrip('/') + request.path }}/data.ttl" type="text/turtle">Turtle</a>
            </li>
            <li>
                <a href="{{ request.host_url.rstrip('/') + request.path }}/data.json" type="application/json">Simple JSON</a>
            </li>
            <li>
                <a href="{{ request.host_url.rstrip('/') + request.path }}/data.xml" type="application/xml">Simple XML</a>
            </li>
        </ul>
        <p></p>
        <div>
            {% if page.meta.page > 1 %}
            <span>
                <a href="{{ request.host_url.rstrip('/') + request.path }}?page={{ page.meta.page - 1 }}">&lsaquo; prev</a>
            </span>
            {% endif %}
            {% if page.meta.page > 1 and page['items']|length == page.meta.pageSize %}
            <span> | </span>
            {% endif %}
            {% if page['items']|length == page.meta.pageSize %}
            <span>
                <a href="{{ request.host_url.rstrip('/') + request.path }}?page={{ page.meta.page + 1 }}">next &rsaquo;</a>
            </span>
            {% endif %}
        </div>
    </nav>
</div>
{% endblock %}
