<style>
    h3 { text-wrap-mode: nowrap }
    ul { list-style: none; padding-left: 0 }
    li { text-wrap-mode: nowrap }
</style>
<h3>{{ _('Data Formats') }}</h3>
<ul>
    <li>
        <a href="{{ request.host_url.rstrip('/') + request.path }}/data.rdf{{ query_string }}" type="application/rdf+xml">RDF/XML</a>
    </li>
    <li>
        <a href="{{ request.host_url.rstrip('/') + request.path }}/data.rdfjson{{ query_string }}" type="application/json">RDF/JSON</a>
    </li>
    <li>
        <a href="{{ request.host_url.rstrip('/') + request.path }}/data.ttl{{ query_string }}" type="text/turtle">Turtle</a>
    </li>
    <li>
        <a href="{{ request.host_url.rstrip('/') + request.path }}/data.jsonld{{ query_string }}" type="application/ld+json">JSON-LD</a>
    </li>
    <li>
        <a href="{{ request.host_url.rstrip('/') + request.path }}/data.xml{{ query_string }}" type="application/xml">{{ _('Simple') }} XML</a>
    </li>
    <li>
        <a href="{{ request.host_url.rstrip('/') + request.path }}/data.json{{ query_string }}" type="application/json">{{ _('Simple') }} JSON</a>
    </li>
</ul>
