<tbody class="item">
    <tr>
        <th>URI</th>
        <td>{{ item.uri }}</td>
    </tr>
    <tr>
        <th>{{ _('Type') }}</th>
        <td>
            <a href="{{ url_for('class.class', name=item.type) }}">{{ item.type }}</a>
        </td>
    </tr>
    {% if item.session %}
    <tr>
        <th>{{ _('Session') }}</th>
        <td>{{ item.session }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{{ _('Year') }}</th>
        <td>{{ item.year }}</td>
    </tr>
    <tr>
        <th>{{ _('Number') }}</th>
        <td>{{ item.number }}</td>
    </tr>
    <tr>
        <th>{{ _('English Title') if item.welshTitle else _('Title') }}</th>
        <td>{{ item.title }}</td>
    </tr>
    {% if item.welshTitle %}
    <tr>
        <th>{{ _('Welsh Title') }}</th>
        <td>{{ item.welshTitle }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{{ _('Original Languages') }}</th>
        <td>{{ ', '.join(item.originalLanguages) }}</td>
    </tr>
    <tr>
        <th>{{ _('English Citation') if item.welshCitation else _('Citation') }}</th>
        <td>{{ item.citation }}</td>
    </tr>
    {% if item.welshCitation %}
    <tr>
        <th>{{ _('Welsh Citation') }}</th>
        <td>{{ item.welshCitation }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{{ _('English Full Citation') if item.welshFullCitation else _('Full Citation') }}</th>
        <td>{{ item.fullCitation }}</td>
    </tr>
    {% if item.welshFullCitation %}
    <tr>
        <th>{{ _('Welsh Full Citation') }}</th>
        <td>{{ item.welshFullCitation }}</td>
    </tr>
    {% endif %}
    {% if item.commentaryCitation != item.fullCitation %}
    <tr>
        <th>{{ _('English Commentary Citation') if item.welshCommentaryCitation else _('Commentary Citation') }}</th>
        <td>{{ item.commentaryCitation }}</td>
    </tr>
    {% endif %}
    {% if item.welshCommentaryCitation and item.welshCommentaryCitation != item.welshFullCitation %}
    <tr>
        <th>{{ _('Welsh Commentary Citation') }}</th>
        <td>{{ item.welshCommentaryCitation }}</td>
    </tr>
    {% endif %}
</tbody>
