<tbody class="item">
    <tr>
        <th class="label">URI</th>
        <td class="value">{{ item.uri }}</td>
    </tr>
    <tr>
        <th class="label">{{ _('Type') }}</th>
        <td class="value">{{ item.type }}</td>
    </tr>
    {% if item.session %}
    <tr>
        <th class="label">{{ _('Session') }}</th>
        <td class="value">{{ item.session }}</td>
    </tr>
    {% endif %}
    <tr>
        <th class="label">{{ _('Year') }}</th>
        <td class="value">{{ item.year }}</td>
    </tr>
    <tr>
        <th class="label">{{ _('Number') }}</th>
        <td class="value">{{ item.number }}</td>
    </tr>
    <tr>
        <th class="label">{{ _('Title') }}</th>
        <td class="value">{{ item.title }}</td>
    </tr>
    <tr>
        <th class="label">{{ _('Original Languages') }}</th>
        <td class="value">{{ ', '.join(item.originalLanguages) }}</td>
    </tr>
    <tr>
        <th class="label">{{ _('Citation') }}</th>
        <td class="value">{{ item.citation }}</td>
    </tr>
    <tr>
        <th class="label">{{ _('Full Citation') }}</th>
        <td class="value">{{ item.fullCitation }}</td>
    </tr>
    {% if item.commentaryCitation != item.fullCitation %}
    <tr>
        <th class="label">{{ _('Commentary Citation') }}</th>
        <td class="value">{{ item.commentaryCitation }}</td>
    </tr>
    {% endif %}
</tbody>
